.randomPlanet {
  margin-top: 20px;
}
.randomPlanet_inner {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
}
.planet_img_container {
  max-width: 200px;
  margin-right: 15px;
}
.planet_img {
  width: 100%;
  border-radius: 10px;
}

.planet_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.planet_param {
  margin-top: 10px;
  font-size: 18px;
}

.lined {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
