.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-1kvorj79mpg {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-1kvorj79mpg div {
  box-sizing: border-box !important;
}
.ldio-1kvorj79mpg > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #93dbe9 transparent #93dbe9 transparent;
  animation: ldio-1kvorj79mpg 1.6393442622950818s linear infinite;
}

.ldio-1kvorj79mpg > div:nth-child(2),
.ldio-1kvorj79mpg > div:nth-child(4) {
  width: 54px;
  height: 54px;
  top: 23px;
  left: 23px;
  animation: ldio-1kvorj79mpg 1.6393442622950818s linear infinite reverse;
}
.ldio-1kvorj79mpg > div:nth-child(2) {
  border-color: transparent #689cc5 transparent #689cc5;
}
.ldio-1kvorj79mpg > div:nth-child(3) {
  border-color: transparent;
}
.ldio-1kvorj79mpg > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-1kvorj79mpg > div:nth-child(3) div:before,
.ldio-1kvorj79mpg > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #93dbe9;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #93dbe9;
}
.ldio-1kvorj79mpg > div:nth-child(3) div:after {
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #93dbe9;
}

.ldio-1kvorj79mpg > div:nth-child(4) {
  border-color: transparent;
}
.ldio-1kvorj79mpg > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-1kvorj79mpg > div:nth-child(4) div:before,
.ldio-1kvorj79mpg > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 15px;
  background: #689cc5;
  border-radius: 50%;
  box-shadow: 0 46px 0 0 #689cc5;
}
.ldio-1kvorj79mpg > div:nth-child(4) div:after {
  left: -8px;
  top: 15px;
  box-shadow: 46px 0 0 0 #689cc5;
}
.loadingio-spinner-double-ring-ve1fturvomr {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-1kvorj79mpg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-1kvorj79mpg div {
  box-sizing: content-box;
}
